:root {
    --wine-red: #C7375F;
    --bright-red: #D42D2F;
    --dark-green: #344D2F;
    --light-green: #77A047;
    --gold: #FAC57D;
    --snow: #F0F4F7;
  }
  
  html, body {
      margin: 0;
      padding: 0;
  }
  
  body,
  .container {
      display: flex;
      justify-content: center;
      align-items: center
  }
  
  body {
      background-color: var(--wine-red);
      height: 100vh;
  }